OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:27686
OTEL_EXPORTER_OTLP_LOGS_ENDPOINT=http://localhost:27686/v1/logs
OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=http://localhost:27686/v1/traces

OTEL_SERVICE_NAME="launchkey"
NEXT_OTEL_VERBOSE=1

DATABASE_URL="postgresql://launchkey:launchkey@localhost:5432/launchkey?schema=public"

BETTER_AUTH_SECRET="replace-with-a-strong-secret-at-least-32-characters"
BETTER_AUTH_URL="http://localhost:3000"
AUTH_EMAIL_FROM=""
RESEND_API_KEY="re_..."
